.addform{
 display: block;
 padding: 1em;
}
.inputfield{
    padding: 0.5em;
    border-color: grey;
    display: inline;

}
.titlecontainer{
    display: flex;
    justify-content: left;
    padding-top: 2rem;
    padding-left:2rem ;
}